@use '../src/styles/partials/global.scss' as *;
@use '../src/styles/partials/mixins.scss' as *;
@use '../src/styles/partials/variables.scss' as *;
@use '../src/styles/partials/typography.scss' as *;

.video-list {  
  padding-left: 1.5rem;

  @include tablet {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  @include desktop {
    border-left: solid 1px $Silver;
    padding-bottom: 10rem;
  }

  &__heading {
    text-transform: uppercase;
    color: $Silver;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
  }

  &__list {
    cursor: pointer;
    width: 100%;
  }
}
