$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$font-line-height: 1.6rem;

$brainflix-blue: #0095FF;
$brainflix-black: #323232;
$Silver: #AFAFAF;
$White: #FFFFFF;
$brainflix-darkblack: #000000;
$brainflix-darkblue: #0065AD;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;