$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$brainflix-blue: #0095FF;
$brainflix-black: #323232;
$sliver: #AFAFAF;
$white: #FFFFFF;
$brainflix-darkblack: #000000;
$brainflix-darkblue: #0065AD;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;