@use "../src/styles/partials/global.scss" as *;
@use "../src/styles/partials/mixins.scss" as *;
@use "../src/styles/partials/variables.scss" as *;
@use "../src/styles/partials/typography.scss" as *;

.selected-video {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &__video-screen {
    max-width: 100%;
    height: auto;

    @include tablet {
      max-width: 100%;
      height: auto;
      padding-left: 5vw;
      padding-right: 5vw;
      background-color: black;
    }

    @include desktop {
      max-width: 100%;
      height: auto;
      padding-left: 16.65%;
      padding-right: 16.65%;
      background-color: black;
    }
  }

  @include tablet {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  @include desktop {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  &__container {
  }

  &__title {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &__details-container {
    display: flex;
    justify-content: space-between;
  }

  &__inner-details-left-container {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-grow: 1;

    @include tablet {
      flex-direction: row;
      // justify-content: space;
    }

    @include desktop {
      flex-direction: row;
    }
  }

  &__inner-details-right-container {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-grow: 1;

    @include tablet {
      flex-direction: row;
      justify-content: flex-end;
    }

    @include desktop {
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &__inner-details-left-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include tablet {
      padding-right: 2.5rem;
    }

    @include desktop {
      padding-right: 2.5rem;
    }
  }

  &__inner-details-right-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__by {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    @include tablet {
      padding-right: 2.5rem;
    }

    @include desktop {
      padding-right: 2.5rem;
    }
  }

  &__date {
    color: $Silver;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__inner-details-wrapper {
    display: flex;
    align-items: center;
  }

  &__icons {
    height: 1.2rem;
    padding-right: 0.7rem;
  }

  &__view {
    color: $Silver;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__like {
    color: $Silver;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__description {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    line-height: 1.8rem;
  }
}

hr {
  color: $Mercury;
}
