@use "../src/styles/partials/global.scss" as *;
@use "../src/styles/partials/mixins.scss" as *;
@use "../src/styles/partials/variables.scss" as *;
@use "../src/styles/partials/typography.scss" as *;

.selected-video {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include tablet {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  @include desktop {
    padding-left: 0;
    padding-right: 0;
  }

  &__container {
    border: 1px solid transparent;
  }

  &__title {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @include tablet {
      padding-bottom: 0;
    }

    @include desktop {
      padding-bottom: 0;
    }
  }

  &__details-container {
    display: flex;
    justify-content: space-between;

    @include desktop {
      padding-bottom: 0;
    }
  }

  &__inner-details-left-container {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-grow: 1;

    @include tablet {
      flex-direction: row;
    }

    @include desktop {
      flex-direction: row;
    }
  }

  &__inner-details-right-container {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-grow: 1;

    @include tablet {
      flex-direction: row;
      justify-content: flex-end;
      padding-right: 1rem;
    }

    @include desktop {
      flex-direction: row;
      justify-content: flex-end;
      padding-right: 1rem;
    }
  }

  &__inner-details-left-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include tablet {
      padding-right: 2.5rem;
    }

    @include desktop {
      padding-right: 2.5rem;
    }
  }

  &__inner-details-right-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__by {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    @include tablet {
      padding-right: 2.5rem;
    }

    @include desktop {
      padding-right: 2.5rem;
    }
  }

  &__date {
    color: $Silver;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__inner-details-wrapper {
    display: flex;
    align-items: center;
  }

  &__icons {
    height: 1.2rem;
    padding-right: 0.7rem;
  }

  &__view {
    color: $Silver;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__like {
    color: $Silver;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &__description {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    line-height: 1.8rem;

    @include tablet {
      padding-right: 1rem;
    }

    @include desktop {
      padding-right: 1rem;
    }
  }
}

.hr {
  color: $Alabaster;

  &-upper {
    @include tablet {
      display: none;
    }

    @include desktop {
      display: none;
      padding: 0;
      margin: 0;
    }
  }
}


