@use "../src/styles/partials/global.scss" as *;
@use "../src/styles/partials/mixins.scss" as *;
@use "../src/styles/partials/variables.scss" as *;
@use "../src/styles/partials/typography.scss" as *;

.header {
  &__container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-left: 5vw;
      padding-right: 5vw;
    }

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-left: 10vw;
      padding-right: 10vw;
    }
  }

  &__logo {
    height: 2rem;
    width: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  &__inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    width: 100%;

    @include tablet {
      padding-bottom: 0;
    }

    @include desktop {
      padding-bottom: 0;
    }
  }

  &__input-wrapper {
    position: relative;

    // @include tablet {
    //   justify-content: end;
    // }

    // @include desktop {
    //   justify-content: end;
    // }
  }

  &__search-input {    
    border-radius: 5px;
    border: solid 1px $Mercury;
    background-color: #fafafa;
    font-size: 1rem;
    height: 3rem;
    margin-right: 1rem;
    padding-left: 3rem;
  }

  &__search-icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    width: 1.4rem;
    height: 1.4rem;
  }

  &__img {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    

    @include tablet {
      display: none;
    }

    @include desktop {
      display: none;
    }
  }

  &__button[type="submit"] {
    background-color: #0095ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
    height: 3.3rem;
    font-size: 1rem;
    text-transform: uppercase;

    @include tablet {
      width: 50vw;
      margin-right: 1.5rem;
    }

    @include desktop {
      width: 50vw;
      margin-right: 1.5rem;
    }

    &:hover {
      background-color: #444;
    }
  }
}

.hide-mobile {
  display: none;

  @include tablet {
    display: inline;
    // flex-direction: row;
  }

  @include desktop {
    display: inline;
  }
}