.video {
  &__container {
    display: flex;
    padding-left: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  // max-width: 300px;
  // width: 30%;

  &__poster {
    border-radius: 0.4rem;
    cursor: pointer;
    // width: 100%;
    max-height: 6rem;
  }

  &__inner-container {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  // &__title {
  //   padding-bottom: 1rem;
  // }
}
