@use '../src/styles/partials/global.scss' as *;
@use '../src/styles/partials/mixins.scss' as *;
@use '../src/styles/partials/variables.scss' as *;
@use '../src/styles/partials/typography.scss' as *;

.video {
  &__container {
    display: flex;
    padding-bottom: 1rem;
  }

  &__poster {
    border-radius: 0.4rem;
    cursor: pointer;
    max-height: 6rem;
  }

  &__inner-container {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
