@use '../src/styles/partials/global.scss' as *;
@use '../src/styles/partials/mixins.scss' as *;
@use '../src/styles/partials/variables.scss' as *;
@use '../src/styles/partials/typography.scss' as *;

.video {
  &__container {
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  // max-width: 300px;
  // width: 30%;

  &__poster {
    border-radius: 0.4rem;
    cursor: pointer;
    // width: 100%;
    max-height: 6rem;
  }

  &__inner-container {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  // &__title {
  //   padding-bottom: 1rem;
  // }
}
