@use "../src/styles/partials/global.scss" as *;
@use "../src/styles/partials/mixins.scss" as *;
@use "../src/styles/partials/variables.scss" as *;
@use "../src/styles/partials/typography.scss" as *;

.comment {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @include tablet {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  @include desktop {
    padding-left: 0;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }

  &__counts {
    margin-bottom: 1.5rem;
  }

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__form-photo {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    margin-right: 1.5rem;
    margin-top: 2rem;
  }

  &__form-wrapper {
    width: 100%;

    @include tablet {
      display: inline;
    }

    @include desktop {
      display: inline-block;
    }
  }

  &__form {
    @include tablet {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: end;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: end;
    }
  }

  &__inner-wrapper {
    
    @include tablet {
      flex-grow: 1;
    }

    @include desktop {
      flex-grow: 1;
    }
  }

  &__heading {
    color: $Silver;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  &__comment-input {
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: $brainflix-darkblack;
    height: 8rem;
    width: 100%;
    background-color: #fafafa;

    @include tablet {
      height: 3rem;
      padding-top: 0;
      margin-bottom: 0;
    }

    @include desktop {
      height: 3rem;
      padding-top: 0;
      margin-bottom: 0;
    }
  }

  &__button-wrapper {
    position: relative;
  }

  &__button[type="submit"] {
    background-color: #0095ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    text-transform: uppercase;

    @include tablet {
      width: 20vw;
      margin-bottom: 0.4rem;
    }

    @include desktop {
      width: 15vw;
      margin-bottom: 0.4rem;
    }

    &:hover {
      background-color: #444;
    }
  }

  &__add-icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    width: 1.4rem;
    height: 1.4rem;
  }

  &__hr {
    margin-top: 1rem;
    color: $Mercury;

    @include desktop {
      display: none;
    }
  }
}
