@use "../src/styles/partials/global.scss" as *;
@use "../src/styles/partials/mixins.scss" as *;
@use "../src/styles/partials/variables.scss" as *;
@use "../src/styles/partials/typography.scss" as *;

.comment {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &__counts {
    margin-bottom: 1.5rem;
  }

  // &__container {
    
  // }

  &__form-container {
    display: flex;
    flex-direction: row;
  }

  &__form-photo {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    margin-right: 1.5rem;
    margin-top: 2rem;
  }

  &__form-wrapper {
    width: 100%;
  }

  &__heading {
    color: $Silver;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  &__comment-input {
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: $brainflix-darkblack;
    height: 8rem;
    width: 100%;
    background-color: #fafafa;
  }

  &__button[type="submit"] {
    background-color: #0095ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    text-transform: uppercase;

    &:hover {
      background-color: #444;
    }
  }

  &__hr {
    margin-top: 1rem;
    // margin-bottom: 1rem;
    color: $Mercury;
  }
}
