@use "./styles/partials/global.scss" as *;
@use "./styles/partials/mixins.scss" as *;
@use "./styles/partials/typography.scss" as *;
@use "./styles/partials/variables.scss" as *;

body,
html {
  margin: 0;
  padding: 0;
  // width: 100%;
  font-family: $font-family-primary;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  &__container {
    @include desktop {
      display: flex;
      padding-left: 10vw;
      padding-right: 10vw;
    }
  }
  
  &__left-wrapper {
    @include desktop {
    border: 1px solid transparent;
    width: 60vw;
    }
  }

  &__right-wrapper {
    @include desktop {
    border: solid 1px transparent;
    width: 30vw;
    }
  }

}