@use "../src/styles/partials/global.scss" as *;
@use "../src/styles/partials/mixins.scss" as *;
@use "../src/styles/partials/variables.scss" as *;
@use "../src/styles/partials/typography.scss" as *;

.upload-video {
  &__container {
    border-top: solid 1px $Mercury;
    display: flex;
    padding-right: 1.5rem;
    padding-left: 1.5rem;

    @include tablet {
      padding-left: 5vw;
      padding-right: 5vw;
    }

    @include desktop {
      padding-left: 10vw;
      padding-right: 10vw;
    }
  }

  &__form {
    border: 1px solid transparent;
  }

  &__heading {
    color: $brainflix-black;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__hr {
    display: none;
    border-color: $Silver;

    @include tablet {
      display: block;
      border-color: $Mercury;
    }

    @include desktop {
      display: block;
      border-color: $Mercury;
    }
  }

  &__thumbnail-input-container {
    // background-color: yellowgreen;

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;
      align-items: center;
      // border: 1px solid yellowgreen;
      padding-top: 2rem;
      padding-bottom: 2rem;
      width: 80vw;
    }
  }

  &__thumbnail-container {
    border: 1px solid transparent;

    @include tablet {
      width: 50%;
    }
  }

  &__thumbnail-title {
    color: $Silver;
    font-size: 1rem;
    text-transform: uppercase;
    padding-bottom: 0.5rem;

    @include tablet {
      padding-top: 2rem;
    }
  }

  &__thumbnail-image {
    width: 100%;
    border-radius: 0.3rem;

    @include tablet {
      
      
    }
    
    @include desktop {
      width: auto;
      height: 13rem;
    }
  }

  &__input-container {
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;

    @include desktop {
      width: 66.6%;
    }
  }

  &__title-label {
    color: $Silver;
    text-transform: uppercase;
    padding-top: 1.3rem;
    padding-bottom: 0.5rem;
  }

  &__title-input {
    font-size: 1rem;
    font-family: $font-family-primary;
    height: 3rem;
    border-radius: 5px;
    border: solid 1px $Mercury;
    background-color: #fafafa;
    font-size: 1rem;
    padding-left: 1rem;
  }

  &__description-label {
    color: $Silver;
    text-transform: uppercase;
    padding-top: 1.3rem;
    padding-bottom: 0.5rem;
  }

  &__description-input {
    font-size: 1rem;
    font-family: $font-family-primary;
    height: 7rem;
    border-radius: 5px;
    border: solid 1px $Mercury;
    background-color: #fafafa;
    font-size: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
  }

  &__button-container {
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row-reverse;      
      align-items: center;
    }

    @include desktop {
      flex-direction: row-reverse;      
      align-items: center;
    }
  }

  &__button-wrapper {
    position: relative;
  }

  &__button-submit {
    background-color: #0095ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    width: 100%;

    &:hover {
      background-color: #444;
    }

    @include tablet {
      width: 20vw;
    }

    @include desktop {
      width: 15vw;
    }
  }

  &__publish-icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    width: 1.4rem;
    height: 1.4rem;
  }

  &__button-cancel {
    background-color: white;
    color: #0095ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;

    &:hover {
      background-color: #444;
    }

    @include tablet {
      width: 20vw;
      margin-right: 2rem;
    }

    @include desktop {
      width: 15vw;
      margin-right: 2rem;
    }
  }
}
